[project]
	description = Algorithm to find the longest possible runway for an island
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Brad Wood (BradleyWood)
[access "refs/for/refs/*"]
	read = group user/Brad Wood (BradleyWood)
	push = group user/Brad Wood (BradleyWood)
	label-Code-Review = -2..+2 group user/Brad Wood (BradleyWood)
	label-Verified = -1..+1 group user/Brad Wood (BradleyWood)
	rebase = group user/Brad Wood (BradleyWood)
	removeReviewer = group user/Brad Wood (BradleyWood)
	submit = group user/Brad Wood (BradleyWood)
[access "refs/heads/*"]
	read = group user/Brad Wood (BradleyWood)
	create = group user/Brad Wood (BradleyWood)
	push = +force group user/Brad Wood (BradleyWood)
	pushMerge = group user/Brad Wood (BradleyWood)
[access "refs/tags/*"]
	push = group user/Brad Wood (BradleyWood)
	push = +force group user/Brad Wood (BradleyWood)
